/* ===========================
   Reset
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;

    background: #F8F6F1;

    color: #2B2B2B;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* ===========================
   Common Layout
=========================== */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* ===========================
   Buttons
=========================== */

.primary-btn,
.secondary-btn {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.3s;
}

.primary-btn {
    background: #2E8B57;
    color: white;
}

.primary-btn:hover {
    background: #26734A;
}

.secondary-btn {
    border: 1px solid #E6E6E0;
}

.secondary-btn:hover {
    background: #F3F3F3;
}