/* ===========================
   Reset
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;

    background: #F8F6F1;

    color: #2B2B2B;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* ===========================
   Common Layout
=========================== */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* ===========================
   Buttons
=========================== */

.primary-btn,
.secondary-btn {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.3s;
}

.primary-btn {
    background: #2E8B57;
    color: white;
}

.primary-btn:hover {
    background: #26734A;
}

.secondary-btn {
    border: 1px solid #E6E6E0;
}

.secondary-btn:hover {
    background: #F3F3F3;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    background: #faf9f6;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.gameforge-logo {
    width: 250px;
    height: auto;
    display: block;
    cursor: pointer;
}
.nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

/* ===========================
   Mobile Responsive
=========================== */

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header .container {
        height: auto;
        flex-direction: column;
        gap: 12px;
        padding: 12px 0;
    }

    .gameforge-logo {
        width: 180px;
    }

    .nav {
        gap: 24px;
        justify-content: center;
        width: 100%;
    }

    .nav a {
        font-size: 14px;
    }
}